.login_form{
    margin: 50px 350px;
    padding: 50px 150px;
    background-color:blanchedalmond;
    border-radius: 30px;
    box-shadow: 0 8px 24px brown;
}
.login_form input{
    margin-top: 10px;
    background-color: brown;
    color: blanchedalmond;
    border-radius: 5px;
}
.login_form input::placeholder{
    color: blanchedalmond;
}
.login_form button{
    margin: 10px 20px 10px 50px;
    background-color: brown;
    color: blanchedalmond;
    border-radius: 5px;
    cursor: pointer;
}


/* Mobile devices */
@media (max-width: 768px) {

  .login_form {
    margin: 40px auto;
    padding: 30px 20px;
    width: 90%;
  }

  .login_form input {
    width: 100%;
    height: 35px;
  }

  .login_form button {
    margin: 15px auto;
    display: block;
    width: 120px;
    height: 35px;
  }
}
