body {
  background-color:"#f0f4f8"
}

/* Mobile optimization */
@media (max-width: 768px) {
  body {
    background-size: contain;  /* prevent cropping on phones */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

